<!DOCTYPE html>
<html lang="en">
  <head>
		<title>ThinkTech</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href='http://fonts.googleapis.com/css?family=Armata' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="/assets/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="/assets/font-awesome.css">
		<link rel='stylesheet' id='camera-css'  href='/assets/camera.css' type='text/css' media='all'>

		<link rel="stylesheet" type="text/css" href="/assets/slicknav.css">
		<link rel="stylesheet" href="/assets/prettyPhoto.css" type="text/css" media="screen" title="prettyPhoto main stylesheet" charset="utf-8" />
		<link rel="stylesheet" type="text/css" href="/assets/style.css">
		<link href='https://fonts.googleapis.com/css?family=Roboto:400,300,700|Open+Sans:700' rel='stylesheet' type='text/css'>
		
		<script type="text/javascript" src="/assets/jquery-1.8.3.min.js"></script>		
		<script type="text/javascript" src="/assets/jquery.mobile.customized.min.js"></script>
		<script type="text/javascript" src="/assets/jquery.easing.1.3.js"></script> 
		<script type="text/javascript" src="/assets/camera.min.js"></script>
		<script type="text/javascript" src="/assets/myscript.js"></script>
		<script type="text/javascript" src="/assets/sorting.js" ></script>
		<script type="text/javascript" src="/assets/jquery.isotope.js" ></script>
    <!--script type="text/javascript" src="/assets/jquery.nav.js"></script-->
		

		<script>
			jQuery(function(){
					jQuery('#camera_wrap_1').camera({
					transPeriod: 500,
					time: 3000,
					height: '490px',
					thumbnails: false,
					pagination: true,
					playPause: false,
					loader: false,
					navigation: false,
					hover: false
				});
			});
		</script>
		
	</head>
	<body>
    
    <!--home start-->
    
    <div id="home">
    	<div class="headerLine mar_topm10p">
	<div id="menuF" class="default">
		<div class="container">
			<div class="row">
				<div class="logo col-xs-4 col-md-4">
					<div>
						<a href="/">
							<img class="logo_width" src="/assets/ThinkTech_white.png">
						</a>
					</div>
				</div>
				<div class="col-md-8">
					<div class="navmenu"style="text-align: center;">
						<ul id="menu">
							<li class="active" ><a href="#home">Home</a></li>
							<li><a href="#about">About</a></li>
							<li><a href="#service">Services</a></li>
							<li><a href="#technologies">Technologies</a></li>
							<li><a href="#client">Clients</a></li>
							<li><a href="#career">Career</a></li>
							<li class="last"><a href="#contact">Contact</a></li>
							<!--li><a href="#features">Features</a></li-->
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
		<div class="container">
			<div class="row wrap">
				<div class="col-md-12 gallery"> 
						<div class="camera_wrap camera_white_skin" id="camera_wrap_1">
                          <div data-thumb="" data-src="/assets/slides/blank.gif">
                            <div class="img-responsive camera_caption fadeFromBottom">
                              <h2>Web Development</h2>
                            </div>
                          </div>
							<div data-thumb="" data-src="/assets/slides/blank.gif">
								<div class="img-responsive camera_caption fadeFromBottom">
									<h2>Mobile Apps</h2>
								</div>
							</div>
                              <div data-thumb="" data-src="/assets/slides/blank.gif">
                                <div class="img-responsive camera_caption fadeFromBottom">
                                  <h2>Web Designs</h2>
                                </div>
                              </div>
                          <div data-thumb="" data-src="/assets/slides/blank.gif">
                            <div class="img-responsive camera_caption fadeFromBottom">
                              <h2>SEO</h2>
                            </div>
                          </div>
							<div data-thumb="" data-src="/assets/slides/blank.gif">
								<div class="img-responsive camera_caption fadeFromBottom">
									<h2>Digital Marketing</h2>
								</div>
							</div>
						</div><!-- #camera_wrap_1 -->
				</div>
			</div>
		</div>
	</div>
		<div class="container">
			<div class="row">
				<div class="col-md-4 project">
					<h3 id="counter">0</h3>
					<h4>Awesome Projects</h4>
					<p>We use best tools for Project Management and the journy has ben easy so far, Working with all different platforms and devices.</p>
				</div>
				<div class="col-md-4 project">
					<h3 id="counter1">0</h3>
					<h4>Happy Customers</h4>
					<p>Understanding our customer business and developing a solution based on that is the secret of our Happy Customers.</p>
				</div>
				<div class="col-md-4 project">
					<h3 id="counter2" style="margin-left: 20px;">0</h3>
					<h4 style="margin-left: 20px;">Coffee with Clients</h4>
					<p>We never miss a chance to have a coffee with our clients and knowing the better. You are always welcome.</p>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-md-12 cBusiness">
					<h3>WE DON’T BELIEVE IN JUST BUILDING A SOFTWARE, BUT WE DELIVER YOU A SOLUTION.</h3>
					<h4>We provide elegant solution for your online business fast, reliable, affordable.</h4>
				</div>
			</div>
		</div>
		<!--<div class="container">-->
			<!--<div class="row">-->
				<!--<div class="col-md-12 centPic">-->
					<!--<img class="img-responsive"  src="http://www.pravestech.ca/assets/home_bg2.jpg  "/>-->
				<!--</div>-->
			<!--</div>-->
		<!--</div>   -->
    </div>
    
    <!--about start-->    
    
    <div id="about">
    	<div class="line2">
			<div class="container">
				<div class="row Fresh">
					<div class="col-md-4 Des">
						<i class="fa fa-heart"></i>
						<h4>Fresh & Clean Design</h4>
						<!--<p>Nulla consectetur ornare nibh, a auctor mauris scelerisque eu proin nec urna quis justo adipiscing auctor ut auctor. feugiat </p>-->
					</div>
					<div class="col-md-4 Ver">
						<i class="fa fa-cog"></i>
						<h4>Very Flexible</h4>
						<!--<p>Nulla consectetur ornare nibh, a auctor mauris scelerisque eu proin nec urna quis justo adipiscing auctor ut auctor. feugiat </p>-->
					</div>
					<div class="col-md-4 Fully">
						<i class="fa fa-tablet"></i>
						<h4>Fully Responsive</h4>
						<!--<p>A auctor mauris scelerisque eu proin nec urna quis justo adipiscing auctor ut auctor. feugiat </p>-->
					</div>		
				</div>
			</div>
		</div>
		<!--<div class="container">-->
			<!--<div class="row">-->
				<!--<div class="col-md-12 wwa">-->
					<!--<span name="about" ></span>-->
					<!--<h3>Who We Are? Meet Our Team!</h3>-->
					<!--<h4>We listen, we discuss, we advise and develop. We love to learn and use the latest technologies.</h4>-->
				<!--</div>-->
			<!--</div>-->
		<!--</div>-->
		<!--<div class="container">-->
			<!--<div class="row team">-->
				<!--<div class="col-md-4 b1">-->
						<!--<img class="img-responsive" src="/assets/picTeam/picT1.png">-->
						<!--<h4>Tom Simpson</h4>-->
						<!--<h5>CEO</h5>-->
						<!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit <br/>quisque tempus ac eget diam et laoreet phasellus ut nisi id leo molestie. adipiscing vitae vel quam proin eget mauris eget.</p>-->
						<!--<ul>-->
							<!--<li><a href="#"><i class="fa fa-facebook-square"></i></a></li>-->
							<!--<li><a href="#"><i class="fa fa-pinterest"></i></a></li>-->
							<!--<li><a href="#"><i class="fa fa-twitter" ></i></a></li>-->
							<!--<li><a href="#"><i class="fa fa-google-plus-square"></i></a></li>-->
						<!--</ul>-->
				<!--</div>-->
			<!---->
			<!---->
				<!--<div class="col-md-4">-->
						<!--<img class="img-responsive" src="/assets/picTeam/picT2.png">-->
						<!--<h4>John Doe</h4>-->
						<!--<h5>Project Manager</h5>-->
						<!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit<br/> quisque tempus ac eget diam et laoreet phasellus ut nisi id leo molestie. adipiscing vitae vel quam proin eget mauris eget.</p>-->
						<!--<ul>-->
							<!--<li><a href="#"><i class="fa fa-facebook-square"></i></a></li>-->
							<!--<li><a href="#"><i class="fa fa-pinterest"></i></a></li>-->
							<!--<li><a href="#"><i class="fa fa-twitter" ></i></a></li>-->
							<!--<li><a href="#"><i class="fa fa-google-plus-square"></i></a></li>-->
						<!--</ul>-->
				<!--</div>-->
		<!---->
			<!---->
				<!--<div class="col-md-4 b3">-->
						<!--<img class="img-responsive" src="/assets/picTeam/picT3.png">-->
						<!--<h4>Anna White</h4>-->
						<!--<h5>Developer</h5>-->
						<!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit<br/> quisque tempus ac eget diam et laoreet phasellus ut nisi id leo molestie. adipiscing vitae vel quam proin eget mauris eget.</p>-->
						<!--<ul>-->
							<!--<li><a href="#"><i class="fa fa-facebook-square"></i></a></li>-->
							<!--<li><a href="#"><i class="fa fa-pinterest"></i></a></li>-->
							<!--<li><a href="#"><i class="fa fa-twitter" ></i></a></li>-->
							<!--<li><a href="#"><i class="fa fa-google-plus-square"></i></a></li>-->
						<!--</ul>-->
				<!--</div>-->
			<!--</div>-->
		<!--</div>-->
		<div class="container">
			<div class="row">
				<div class="col-md-12 hr1">
					<hr/>
				</div>
			</div>
		</div>		
		<div class="container">
			<div class="row text-center">
				<div class="col-md-3 bar">
					<div class="progB chart" data-percent="85"  data-animate="3500">
						<div class="chart chart-content">
							<div class="percentage" data-percent="85">
							  <span class="percent">85</span>
							</div>
						</div>
					</div>
					<div class="textP">
						<h3>Ruby on Rails</h3>
						<p>Strong hold in Ruby on Rails applications<br/>Developing Websites and Custom Web Softwares</p>
					</div>
				</div>
				<div class="col-md-3 bar">
					<div class="progB chart" data-percent="92"  data-animate="3500">
						<div class="chart chart-content">
							<div class="percentage" data-percent="92">
							  <span class="percent">92</span>
							</div>
						</div>
					</div>
					<div class="textP">
						<h3>Bootstrap</h3>
						<p>Bootstrap, A powerful mobile first <br/>front-end framework for faster and responsive Web Development</p>
					</div>
				</div>
				<div class="col-md-3 bar ">
					<div class="progB chart" data-percent="84"  data-animate="3500">
						<div class="chart chart-content">
							<div class="percentage" data-percent="84">
							  <span class="percent">84</span>
							</div>
						</div>
					</div>
					<div class="textP">
						<h3>Mobile App</h3>
						<p>Developing for iOS and Android<br/>Give your business a App and reach your goals faster</p>
					</div>
				</div>
				<div class="col-md-3 bar ">
					<div class="progB chart" data-percent="90"  data-animate="3500">
						<div class="chart chart-content">
							<div class="percentage" data-percent="90">
							  <span class="percent">90</span>
							</div>
						</div>
					</div>
					<div class="textP">
						<h3>SEO and Marketing</h3>
						<p>Increase Google and Bing Ranking of your Website<br/>Taking your business to the next Level</p>
					</div>
				</div>
			</div>
		</div>	
		
		
		<div class="container">
			<div class="row aboutUs">
				<div class="col-md-12 ">
					<h3>What Our Customers Say About Us?</h3>
				</div>
			</div>
		</div>
		
		<div style="position: relative;">
		
			<div class="container">
				<div class="row about">
					<div class="col-md-6">
						<div class="about1">
						<!--<img class="pic1Ab" src="http://confidentmarketingcoach.com/wp-content/uploads/2013/08/LKS_1524f-640x640.jpg">-->
							<h3 >Ave Peetri, Coaching by Ave Peetri Inc.</h3>
							<p>Praves Technology are behind my website www.confidentmarketing.com. They were listening very well to my needs and provided reviews of what they had done on a continuous bases to make sure that we are aligned and that I am getting what I wanted from the website. My website went up on time at the end of last year and has already outperformed my previous website in terms of conversions. I am receiving lots of good comments on the professionalism with which it was created.</p>
                          </div>
					</div>
					<div class="col-md-6">
						<div class="about2">
						<!--<img class="pic2Ab" src="/assets/picAbout/aboutP2.png">-->
							<h3>John Doe, Company Inc.</h3>
							<p>Consectetur ornare nibh, a auctor mauris scelerisque eu proin nec urna quis justo, adipiscing auctor, ut auctor feugiat fermentum nec quisque eget pharetra, felis et venenatis aliquam, nulla nisi lobortis elit, ac luctus.</p>
						</div>
					</div>
				</div>
			</div>
		
			<div class="horL"></div>
		
			<div class="container">
				<div class="row about">
					<div class="col-md-6">
						<div class="about1">
						<!--<img class="pic1Ab" src="/assets/picAbout/aboutP3.png">-->
							<h3>Tom Sawyer, Company Inc.</h3>
							<p>A auctor mauris scelerisque eu proin nec urna quis justo adipiscing auctor ut auctor feugiat fermentum quisque eget pharetra, felis et venenatis aliquam, nulla nisi lobortis elit, acnterdum ante feugiat vitae.</p>
						</div>
					</div>
					<div class="col-md-6">
						<div class="about2">
						<!--<img class="pic2Ab" src="/assets/picAbout/aboutP4.png">-->
							<h3>Sarah White, Company Inc.</h3>
							<p>Mauris scelerisque eu proin nec urna nec a quis justo adipiscing auctor ut auctor feugiat fermentum quisque eget pharetra felis et venenatis aliquam, nulla nisi lobortis elit, ac eleifend nisl ante nec lorem. </p>
						</div>
					</div>
				</div>
			</div>
		
		</div>
    </div>


    <!--Service Start-->    
    <div id="service">    	
		<div class="line3">
			<div class="container">
				<div id="project1" ></div>
				<div class="row Ama">
					<div class="col-md-12">
					<span name="projects" id="projectss"></span>
					<h3>Our Services</h3>
					<p>WE ARE HERE TO PROVIDE EXPERTISE</p>
					</div>
				</div>
			</div>
		</div>          
    
    
       <div class="container">
         <div class="row">
           <div class="col-lg-10 col-lg-offset-1">

             <!--<div class="section-header">-->
               <!--<h2 class="section-title">Services</h2>-->
             <!--</div>-->

             <div class="row">
               <div class="col-lg-6 p45">
                 <h3 class="section-subtitle"><i class="fa fa-rocket"></i> Web Development</h3>
                 <p class="text-md text-italic text-muted">
                   It’s about accessibility and it’s here to stay. Ready or not, your audience is interacting with your site on devices that likely didn’t exist when your site was originally made. The easier it is for users to get your content how and where they want it, the better your site will perform.
                 </p>
               </div>
               <div class="col-lg-6 p45">
                 <h3 class="section-subtitle"><i class="fa fa-rocket"></i> App Development</h3>
                 <p class="text-md text-italic text-muted">
                   Creating the right mobile app can be a big undertaking. That’s why we’re here to help every step of the way. We have full-scale team of mobile app developers, project managers, graphics and UI/UX designers, and quality assurance testers on hand ready to support you. No request is too big.
                 </p>
               </div>
             </div>
             <div class="row">
               <div class="col-lg-6 p45">
                 <h3 class="section-subtitle"><i class="fa fa-rocket"></i> SEO & Digital Marketing</h3>
                 <p class="text-md text-italic text-muted">
                   SEO is an ever-changing landscape, With smart strategy, and intelligent execution we will help you own your keywords on the first page of Google and other search engines. It’s time to start generating more qualified leads by driving more visitors to your website.
                 </p>
               </div>
               <div class="col-lg-6 p45">
                 <h3 class="section-subtitle"><i class="fa fa-rocket"></i> Custom Development</h3>
                 <p class="text-md text-italic text-muted">
                   We design our custom software solutions to address the unique challenges and requirements of your organization — both today and in the future. We will take the time to understand your specific web development, custom software, and tech needs, ensuring that we create a product suited to work for your business.
                 </p>
               </div>
             </div>

           </div>
         </div>


         <!--<div class="row">-->
			<!--&lt;!&ndash; filter_block &ndash;&gt;-->
				<!--<div id="options" class="col-md-12" style="text-align: center;">	-->
					<!--<ul id="filter" class="option-set" data-option-key="filter">-->
						<!--<li><a class="selected" href="#filter" data-option-value="*" class="current">All Works</a></li>-->
						<!--<li><a href="#filter" data-option-value=".polygraphy">Polygraphy</a></li>-->
						<!--<li><a href="#filter" data-option-value=".branding">Branding</a></li>-->
						<!--<li><a href="#filter" data-option-value=".web">Web UI</a></li>-->
						<!--<li><a href="#filter" data-option-value=".text_styles">Text Styles</a></li>-->
					<!--</ul>-->
				<!--</div>&lt;!&ndash; //filter_block &ndash;&gt;-->
		<!---->
		<!---->
		<!---->
			<!--<div class="portfolio_block columns3   pretty" data-animated="fadeIn">	-->
					<!--<div class="element col-sm-4   gall branding">-->
						<!--<a class="plS" href="/assets/prettyPhotoImages/pic1.jpg" rel="prettyPhoto[gallery2]">-->
							<!--<img class="img-responsive picsGall" src="/assets/prettyPhotoImages/thumb_pic1.jpg" alt="pic1 Gallery"/>-->
						<!--</a>-->
						<!--<div class="view project_descr ">-->
							<!--<h3><a href="#">Recycled Paper - Business Card Mock Up</a></h3>-->
							<!--<ul>-->
								<!--<li><i class="fa fa-eye"></i>215</li>-->
								<!--<li><a class="heart" href="#"><i class="fa-heart-o"></i>14</a></li>-->
							<!--</ul>-->
						<!--</div>-->
					<!--</div>-->
					<!--<div class="element col-sm-4  gall branding">-->
						<!--<a class="plS" href="/assets/prettyPhotoImages/pic2.jpg" rel="prettyPhoto[gallery2]">-->
							<!--<img class="img-responsive picsGall" src="/assets/prettyPhotoImages/thumb_pic2.jpg" alt="pic2 Gallery"/>-->
						<!--</a>-->
						<!--<div class="view project_descr center">-->
							<!--<h3><a href="#">Environment Logos Set</a></h3>-->
							<!--<ul>-->
								<!--<li><i class="fa fa-eye"></i>369</li>-->
								<!--<li><a  class="heart" href="#"><i class="fa-heart-o"></i>86</a></li>-->
							<!--</ul>-->
						<!--</div>-->
					<!--</div>-->
					<!--<div class="element col-sm-4  gall web">-->
						<!--<a class="plS" href="/assets/prettyPhotoImages/pic3.jpg" rel="prettyPhoto[gallery2]">-->
							<!--<img class="img-responsive picsGall" src="/assets/prettyPhotoImages/thumb_pic3.jpg" alt="pic3 Gallery"/>-->
						<!--</a>-->
						<!--<div class="view project_descr ">-->
							<!--<h3><a href="#">Beag Simple WEB UI</a></h3>-->
							<!--<ul>-->
								<!--<li><i class="fa fa-eye"></i>400</li>-->
								<!--<li><a  class="heart" href="#"><i class="fa-heart-o"></i>124</a></li>-->
							<!--</ul>-->
						<!--</div>-->
					<!--</div>-->
		<!---->
		<!---->
					<!---->
					<!--<div class="element col-sm-4  gall  text_styles">-->
						<!--<a class="plS" href="/assets/prettyPhotoImages/pic4.jpg" rel="prettyPhoto[gallery2]">-->
							<!--<img class="img-responsive picsGall" src="/assets/prettyPhotoImages/thumb_pic4.jpg" alt="pic1 Gallery"/>-->
						<!--</a>-->
						<!--<div class="view project_descr ">-->
							<!--<h3><a href="#">Pop Candy Text Effect</a></h3>-->
							<!--<ul>-->
								<!--<li><i class="fa fa-eye"></i>480</li>-->
								<!--<li><a  class="heart" href="#"><i class="fa-heart-o"></i>95</a></li>-->
							<!--</ul>-->
						<!--</div>-->
					<!--</div>-->
					<!--<div class="element col-sm-4  gall  web">-->
						<!--<a class="plS" href="/assets/prettyPhotoImages/pic5.jpg" rel="prettyPhoto[gallery2]">-->
							<!--<img class="img-responsive picsGall" src="/assets/prettyPhotoImages/thumb_pic5.jpg" alt="pic1 Gallery"/>-->
						<!--</a>-->
						<!--<div class="view project_descr center">-->
							<!--<h3><a href="#">User Interface Elements</a></h3>-->
							<!--<ul>-->
								<!--<li><i class="fa fa-eye"></i>215</li>-->
								<!--<li><a  class="heart" href="#"><i class="fa-heart-o"></i>14</a></li>-->
							<!--</ul>-->
						<!--</div>-->
					<!--</div>-->
					<!--<div class="element col-sm-4  gall  polygraphy">-->
						<!--<a class="plS" href="/assets/prettyPhotoImages/pic6.jpg" rel="prettyPhoto[gallery2]">-->
							<!--<img class="img-responsive picsGall" src="/assets/prettyPhotoImages/thumb_pic6.jpg" alt="pic1 Gallery"/>-->
						<!--</a>-->
						<!--<div class="view project_descr ">-->
							<!--<h3><a href="#">Stationery Branding Mock Up</a></h3>-->
							<!--<ul>-->
								<!--<li><i class="fa fa-eye"></i>375</li>-->
								<!--<li><a  class="heart" href="#"><i class="fa-heart-o"></i>102</a></li>-->
							<!--</ul>-->
						<!--</div>-->
					<!--</div>		-->
					<!--<div class="element col-sm-4   gall branding">-->
						<!--<a class="plS" href="/assets/prettyPhotoImages/pic7.jpg" rel="prettyPhoto[gallery2]">-->
							<!--<img class="img-responsive picsGall" src="/assets/prettyPhotoImages/thumb_pic7.jpg" alt="pic1 Gallery"/>-->
						<!--</a>-->
						<!--<div class="view project_descr ">-->
							<!--<h3><a href="#">Darko - Business Card Mock Up</a></h3>-->
							<!--<ul>-->
								<!--<li><i class="fa fa-eye"></i>440</li>-->
								<!--<li><a  class="heart" href="#"><i class="fa-heart-o"></i>35</a></li>-->
							<!--</ul>-->
						<!--</div>-->
					<!--</div>-->
					<!---->
					<!--<div class="element col-sm-4  gall text_styles">-->
						<!--<a class="plS" href="/assets/prettyPhotoImages/pic8.jpg" rel="prettyPhoto[gallery2]">-->
							<!--<img class="img-responsive picsGall" src="/assets/prettyPhotoImages/thumb_pic8.jpg" alt="pic1 Gallery"/>-->
						<!--</a>-->
						<!--<div class="view project_descr ">-->
							<!--<h3><a href="#">Foil Mini Badges</a></h3>-->
							<!--<ul>-->
								<!--<li><i class="fa fa-eye"></i>512</li>-->
								<!--<li><a  class="heart" href="#"><i class="fa-heart-o"></i>36</a></li>-->
							<!--</ul>-->
						<!--</div>-->
					<!--</div>-->
					<!---->
					<!--<div class="element col-sm-4  gall polygraphy">-->
						<!--<a class="plS" href="/assets/prettyPhotoImages/pic9.jpg" rel="prettyPhoto[gallery2]">-->
							<!--<img class="img-responsive picsGall" src="/assets/prettyPhotoImages/thumb_pic9.jpg" alt="pic1 Gallery"/>-->
						<!--</a>-->
						<!--<div class="view project_descr ">-->
							<!--<h3><a href="#">Woody Poster Text Effect</a></h3>-->
							<!--<ul>-->
								<!--<li><i class="fa fa-eye"></i>693</li>-->
								<!--<li><a  class="heart" href="#"><i class="fa-heart-o"></i>204</a></li>-->
							<!--</ul>-->
						<!--</div>-->
					<!--</div>			-->
			<!--</div>-->
			<!---->
			<!---->
				<!---->
					<!--<div class="col-md-12 cBtn  lb" style="text-align: center;">-->
						<!--<ul class="load_more_cont ">-->
							<!--<li class="dowbload btn_load_more">-->
								<!--<a href="javascript:void(0);" >-->
									<!--<i class="fa fa-arrow-down"></i>Load More Projects-->
								<!--</a>-->
							<!--</li>-->
							<!--<li class="buy">-->
								<!--<a href="#">-->
									<!--<i class="fa fa-shopping-cart"></i>Buy on Themeforest-->
								<!--</a>-->
							<!--</li>-->
						<!--</ul>-->
					<!--</div>-->
			<!---->
		<!--</div>-->
			
			<script type="text/javascript">
				jQuery(window).load(function(){
					items_set = [
					
						{category : 'branding', lika_count : '77', view_count : '234', src : '/assets/prettyPhotoImages/pic9.jpg', title : 'Foil Mini Badges', content : '' },
						
						{category : 'polygraphy', lika_count : '45', view_count : '100', src : '/assets/prettyPhotoImages/pic7.jpg', title : 'Darko – Business Card Mock Up', content : '' },
						
						{category : 'text_styles', lika_count : '22', view_count : '140', src : '/assets/prettyPhotoImages/pic8.jpg', title : 'Woody Poster Text Effect', content : '' }
						

					];
					jQuery('.portfolio_block').portfolio_addon({
						type : 1, // 2-4 columns simple portfolio
						load_count : 3,
						
						items : items_set
					});
					$('#container').isotope({
					  animationOptions: {
						 duration: 900,
						 queue: false
					   }
					});
				});
			</script>
		</div>
    </div>    
    
    <!--Technologies Start-->
    
    <div id="technologies">
    	<div class="line4">		
			<div class="container">
				<div class="row Ama">
					<div class="col-md-12">
					<h3>Technologies</h3>
					<p>INNOVATIVE TECHNOLOGY SOLUTIONS</p>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
          <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
              <div class="row">
                <div class="col-lg-6 p45">
                  <div class="icon-box text-center wow fadeInLeft showdelay2 animated" style="visibility: visible;">
                    <i class="fa fa-apple fa-4x"></i>
                    <h3>Mobile</h3>
                    <p>Native Android</p>
                    <p>Native iOS</p>
                    <p>Hybrid/Web Apps</p>
                  </div>
                </div>
                <div class="col-lg-6 p45">
                  <div class="icon-box text-center wow fadeInLeft showdelay2 animated" style="visibility: visible;">
                    <i class="fa fa-code fa-4x"></i>
                    <h3>Web Technologies</h3>
                    <p>Bootstrap, Ruby on Rails</p>
                    <p>PHP, Python, AngularJS</p>
                    <p>NodeJS, .Net</p>
                  </div>
                </div>
                </div>
              <div class="row">
                <div class="col-lg-6 p45">
                  <div class="icon-box text-center wow fadeInLeft showdelay2 animated" style="visibility: visible;">
                    <i class="fa fa-html5 fa-4x"></i>
                    <h3>Web CMS</h3>
                    <p>Wordpress</p>
                    <p>Drupal</p>
                    <p>Jhomla</p>
                  </div>
                </div>
                <div class="col-lg-6 p45">
                  <div class="icon-box text-center wow fadeInLeft showdelay2 animated" style="visibility: visible;">
                    <i class="fa fa-cloud fa-4x"></i>
                    <h3>Cloud Platforms</h3>
                    <p>Amazon Web Services</p>
                    <p>Heroku, Windows Azure</p>
                    <p>Google Cloud</p>
                  </div>
                </div>
              </div>

            </div>
          </div>
			</div>
			
			
			
			
			
			
    </div>
    

   <!-- Client start --> 

     <div id="client">
    	<div class="line4">		
			<div class="container">
				<div class="row Ama">
					<div class="col-md-12">
					<h3>Our Clients</h3>
					<p>MEET OUR AWESOME CLIENTS</p>
					</div>
				</div>
			</div>
		</div>
       <section class="clients">

       	<div class="hidden-xs" id="client_carousel">
    <div id="myCarousel" class="carousel slide">     
    <!-- <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-sbunlide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
    </ol> -->
     
    <!-- Carousel items -->
    <div class="carousel-inner">
        
    <div class="item active">
        <div class="row-fluid">
            <div class="col-xs-3 col-sm-3 text-center">
              <%= image_tag("clients/goi_client.png", class: "image_responsive client_logo", alt: "GLORY OF INDIA") %><h5><b>GLORY OF INDIA</b></h5>
            </div> 
            <div class="col-xs-3 col-sm-3 text-center">
              <%= image_tag("clients/CMC_client.png", class: "image_responsive client_logo", alt: "CMC") %><h5><b>CONFIDENT MARKETING CLUB</b></h5>
            </div>            
            <div class="col-xs-3 col-sm-3 text-center">
              <%= image_tag("clients/cmit_client.png", class: "image_responsive client_logo", alt: "CMIT") %><h5><b>CMIT SOLUTIONS</b></h5>
            </div>
            <div class="col-xs-3 col-sm-3 text-center">
              <%= image_tag("clients/idea2ins_client.png", class: "image_responsive client_logo", alt: "IDEA 2 INCEPTION") %><h5><b>IDEA 2 INCEPTION</b></h5>
            </div> 
        </div><!--/row-fluid-->
    </div><!--/item-->
     
    <div class="item">
        <div class="row-fluid">
            <div class="col-xs-3 col-sm-3  text-center">
              <%= image_tag("clients/calgarysp.png", class: "image_responsive client_logo", alt: "Calgary Service Plumbers") %><h5><b>CALGARY SERVICES PLUMBERS</b></h5>
            </div>       

            <div class="col-xs-3 col-sm-3  text-center">
              <%= image_tag("clients/logolel_client.png", class: "image_responsive client_logo", alt: "Leela Eco Spa") %><h5><b>Leela Eco Spa</b></h5>
            </div>
            <div class="col-xs-3 col-sm-3 text-center">
              <%= image_tag("clients/peak1logo.jpg", class: "image_responsive client_logo", alt: "Peak1 Management Group") %><h5><b>Peak1 Management Group</b></h5>
            </div>
            
            <div class="col-xs-3 col-sm-3 text-center">
              <%= image_tag("clients/kennan-logo.png", class: "image_responsive client_logo", alt: "Ken-nan") %><h5><b>KEN-NAN Automotive Sales</b></h5>
            </div>
        </div><!--/row-fluid-->
    </div><!--/item-->
     
    
     
    </div><!--/carousel-inner-->
     
    <a class="left carousel-control"  href="#myCarousel" data-slide="prev">‹</a>
    <a class="right carousel-control"  href="#myCarousel" data-slide="next">›</a>
    </div><!--/myCarousel-->
     
    </div><!--/well-->

       </section>
			
			
    </div>
    
   
   <!-- Career start -->

   <!--<div id="career">-->
    	<!--<div class="line4">		-->
			<!--<div class="container">-->
				<!--<div class="row Ama">-->
					<!--<div class="col-md-12">-->
					<!--<h3>Career</h3>-->
					<!--<p>OPPORTUNITIES TO CLIMB GREATER HEIGHTS</p>-->
					<!--</div>-->
				<!--</div>-->
			<!--</div>-->
		<!--</div>-->
		<!--<div class="container">-->
			<!--<div class="row">-->
				<!--<div class="col-md-12 wwa">-->
					<!--<span name="about" ></span>-->
					<!--<h3>Who We Are? Meet Our Team!</h3>-->
					<!--<h4>We listen, we discuss, we advise and develop. We love to learn and use the latest technologies.</h4>-->
				<!--</div>-->
			<!--</div>-->
		<!--</div>-->
		<!--<div class="container">-->
			<!--<div class="row team">-->
				<!--<div class="col-md-4 b1">-->
						<!--<img class="img-responsive" src="/assets/picTeam/picT1.png">-->
						<!--<h4>Tom Simpson</h4>-->
						<!--<h5>CEO</h5>-->
						<!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit <br/>quisque tempus ac eget diam et laoreet phasellus ut nisi id leo molestie. adipiscing vitae vel quam proin eget mauris eget.</p>-->
						<!--<ul>-->
							<!--<li><a href="#"><i class="fa fa-facebook-square"></i></a></li>-->
							<!--<li><a href="#"><i class="fa fa-pinterest"></i></a></li>-->
							<!--<li><a href="#"><i class="fa fa-twitter" ></i></a></li>-->
							<!--<li><a href="#"><i class="fa fa-google-plus-square"></i></a></li>-->
						<!--</ul>-->
				<!--</div>-->
			<!---->
			<!---->
				<!--<div class="col-md-4">-->
						<!--<img class="img-responsive" src="/assets/picTeam/picT2.png">-->
						<!--<h4>John Doe</h4>-->
						<!--<h5>Project Manager</h5>-->
						<!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit<br/> quisque tempus ac eget diam et laoreet phasellus ut nisi id leo molestie. adipiscing vitae vel quam proin eget mauris eget.</p>-->
						<!--<ul>-->
							<!--<li><a href="#"><i class="fa fa-facebook-square"></i></a></li>-->
							<!--<li><a href="#"><i class="fa fa-pinterest"></i></a></li>-->
							<!--<li><a href="#"><i class="fa fa-twitter" ></i></a></li>-->
							<!--<li><a href="#"><i class="fa fa-google-plus-square"></i></a></li>-->
						<!--</ul>-->
				<!--</div>-->
		<!---->
			<!---->
				<!--<div class="col-md-4 b3">-->
						<!--<img class="img-responsive" src="/assets/picTeam/picT3.png">-->
						<!--<h4>Anna White</h4>-->
						<!--<h5>Developer</h5>-->
						<!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit<br/> quisque tempus ac eget diam et laoreet phasellus ut nisi id leo molestie. adipiscing vitae vel quam proin eget mauris eget.</p>-->
						<!--<ul>-->
							<!--<li><a href="#"><i class="fa fa-facebook-square"></i></a></li>-->
							<!--<li><a href="#"><i class="fa fa-pinterest"></i></a></li>-->
							<!--<li><a href="#"><i class="fa fa-twitter" ></i></a></li>-->
							<!--<li><a href="#"><i class="fa fa-google-plus-square"></i></a></li>-->
						<!--</ul>-->
				<!--</div>-->
			<!--</div>-->
		<!--</div>-->
		<!--<div class="container">-->
			<!--<div class="row">-->
				<!--<div class="col-md-12 hr1">-->
					<!--<hr/>-->
				<!--</div>-->
			<!--</div>-->
		<!--</div>		-->
		<!--<div class="container">-->
			<!--<div class="row">-->
				<!--<div class="col-md-3 bar">-->
					<!--<div class="progB chart" data-percent="64"  data-animate="3500">-->
						<!--<div class="chart chart-content">-->
							<!--<div class="percentage" data-percent="64">-->
							  <!--<span class="percent">64</span>-->
							<!--</div>-->
						<!--</div>-->
					<!--</div>-->
					<!--<div class="textP">-->
						<!--<h3>WordPress</h3>-->
						<!--<p>Nulla consectetur ornare nibh, a auctor <br/>mauris scelerisque eu proin nec urna quis. </p>-->
					<!--</div>-->
				<!--</div>-->
				<!--<div class="col-md-3 bar">-->
					<!--<div class="progB chart" data-percent="22"  data-animate="3500">-->
						<!--<div class="chart chart-content">-->
							<!--<div class="percentage" data-percent="22">-->
							  <!--<span class="percent">22</span>-->
							<!--</div>-->
						<!--</div>-->
					<!--</div>-->
					<!--<div class="textP">-->
						<!--<h3>HTML5</h3>-->
						<!--<p>Nulla consectetur ornare nibh, a auctor <br/>mauris scelerisque eu proin nec urna quis. </p>-->
					<!--</div>-->
				<!--</div>-->
				<!--<div class="col-md-3 bar ">-->
					<!--<div class="progB chart" data-percent="84"  data-animate="3500">-->
						<!--<div class="chart chart-content">-->
							<!--<div class="percentage" data-percent="22">-->
							  <!--<span class="percent">84</span>-->
							<!--</div>-->
						<!--</div>-->
					<!--</div>-->
					<!--<div class="textP">-->
						<!--<h3>CSS3</h3>-->
						<!--<p>Nulla consectetur ornare nibh, a auctor <br/>mauris scelerisque eu proin nec urna quis. </p>-->
					<!--</div>-->
				<!--</div>-->
				<!--<div class="col-md-3 bar ">-->
					<!--<div class="progB chart" data-percent="45"  data-animate="3500">-->
						<!--<div class="chart chart-content">-->
							<!--<div class="percentage" data-percent="45">-->
							  <!--<span class="percent">45</span>-->
							<!--</div>-->
						<!--</div>-->
					<!--</div>-->
					<!--<div class="textP">-->
						<!--<h3>Woocommerce</h3>-->
						<!--<p>Nulla consectetur ornare nibh, a auctor <br/>mauris scelerisque eu proin nec urna quis. </p>-->
					<!--</div>-->
				<!--</div>-->
			<!--</div>-->
		<!--</div>	-->
		
		
		<!--<div class="container">-->
			<!--<div class="row aboutUs">-->
				<!--<div class="col-md-12 ">-->
					<!--<h3>What Our Customers Say About Us?</h3>-->
				<!--</div>-->
			<!--</div>-->
		<!--</div>-->
		<!---->
		<!--<div style="position: relative;">-->
		<!---->
			<!--<div class="container">-->
				<!--<div class="row about">-->
					<!--<div class="col-md-6">-->
						<!--<div class="about1">-->
						<!--<img class="pic1Ab" src="/assets/picAbout/aboutP1.png">-->
							<!--<h3>Anna Smith, Company Inc.</h3>-->
							<!--<p>Nulla consectetur ornare nibh, a auctor mauris scelerisque eu proin nec urna quis justo adipiscing auctor ut auctor feugiat fermentum quisque eget pharetra, felis et venenatis. aliquam, nulla nisi lobortis elit ac.</p>-->
						<!--</div>-->
					<!--</div>-->
					<!--<div class="col-md-6">-->
						<!--<div class="about2">-->
						<!--<img class="pic2Ab" src="/assets/picAbout/aboutP2.png">-->
							<!--<h3>John Doe, Company Inc.</h3>-->
							<!--<p>Consectetur ornare nibh, a auctor mauris scelerisque eu proin nec urna quis justo, adipiscing auctor, ut auctor feugiat fermentum nec quisque eget pharetra, felis et venenatis aliquam, nulla nisi lobortis elit, ac luctus.</p>-->
						<!--</div>-->
					<!--</div>-->
				<!--</div>-->
			<!--</div>-->
		
			<!--<div class="horL"></div>-->
		<!---->
			<!--<div class="container">-->
				<!--<div class="row about">-->
					<!--<div class="col-md-6">-->
						<!--<div class="about1">-->
						<!--<img class="pic1Ab" src="/assets/picAbout/aboutP3.png">-->
							<!--<h3>Tom Sawyer, Company Inc.</h3>-->
							<!--<p>A auctor mauris scelerisque eu proin nec urna quis justo adipiscing auctor ut auctor feugiat fermentum quisque eget pharetra, felis et venenatis aliquam, nulla nisi lobortis elit, acnterdum ante feugiat vitae.</p>-->
						<!--</div>-->
					<!--</div>-->
					<!--<div class="col-md-6">-->
						<!--<div class="about2">-->
						<!--<img class="pic2Ab" src="/assets/picAbout/aboutP4.png">-->
							<!--<h3>Sarah White, Company Inc.</h3>-->
							<!--<p>Ornare nibh a auctor, mauris scelerisque eu proin nec urna nec a quis justo adipiscing auctor ut auctor feugiat fermentum quisque eget pharetra felis et venenatis aliquam, nulla nisi lobortis elit, ac eleifend nisl ante nec lorem. </p>-->
						<!--</div>-->
					<!--</div>-->
				<!--</div>-->
			<!--</div>-->
		
		</div>
    </div>

    <!--contact start-->
    
    <div id="contact">
    	<div class="line5">					
			<div class="container">
				<div class="row Ama">
					<div class="col-md-12">
					<h3>THANKS FOR VISITING US</h3>
					<p>WE ARE SITUATED IN CALGARY, CANADA</p>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-md-9 col-xs-12 forma">
					<form>
						<input type="text" class="col-md-6 col-xs-12 name" name='name' placeholder='Name *'/>
						<input type="text" class="col-md-6 col-xs-12 Email" name='Email' placeholder='Email *'/>
						<input type="text" class="col-md-12 col-xs-12 Subject" name='Subject' placeholder='Subject'/>
						<textarea type="text" class="col-md-12 col-xs-12 Message" name='Message' placeholder='Message *'></textarea>
						<div class="cBtn col-xs-12">
							<ul>
								<li class="clear"><a href="#"><i class="fa fa-times"></i>Clear Form</a></li>
								<li class="send"><a href="#"><i class="fa fa-share"></i>Send Message</a></li>
							</ul>
						</div>
					</form>
				</div>
				<div class="col-md-3 col-xs-12 cont">
					<ul>
						<li><i class="fa fa-home"></i>Bankers Hall, Suite# 1000, 888 3st SW</li>
						<li><i class="fa fa-phone"></i>+1 403 462 0868</li>
						<li><a href="#"><i class="fa fa-envelope"></i>ashish@thethinktech.com</a></li>
						<li><i class="fa fa-skype"></i>thethinktech</li>
						<li><a href="#"><i class="fa fa-twitter"></i>Twitter</a></li>
						<li><a href="#"><i class="fa fa-facebook-square"></i>Facebook</a></li>
						<!--<li><a href="#"><i class="fa fa-dribbble"></i>Dribbble</a></li>-->
						<!--<li><a href="#"><i class="fa fa-flickr"></i>Flickr</a></li>-->
						<!--<li><a href="#"><i class="fa fa-youtube-play"></i>YouTube</a></li>-->
					</ul>
				</div>
			</div>
		</div>
		<div class="line6">
					<iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d48386.401887313725!2d-73.9407136!3d40.7147117!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2sua!4v1402409149092" width="100%" height="750" frameborder="0" style="border:0"></iframe>			
		</div>
		<div class="container">
			<div class="row ftext">
				<div class="col-md-12">
				<a id="features"></a>
				<h3>We Care About Our Clients and Can Make Their Life Easier!</h3>
				<!--<p>The main peculiarity of template is the striking presentation when visitors just need to use the scrolling option to find all necessary information about your web project. </p>-->
				</div>
				<!--<div class="cBtn">-->
					<!--<ul style="margin-top: 23px; margin-bottom: 0px; padding-left: 26px;">-->
						<!--<li class="dowbload"><a href="#"><i class="fa fa-star"></i>View All Features</a></li>-->
						<!--<li class="buy"><a href="#"><i class="fa fa-download"></i>Buy This Template</a></li>-->
					<!--</ul>-->
			<!--</div>-->
			</div>
		</div>
		<div class="line7">
			<div class="container">
				<div class="row footer">
					<div class="col-md-12">
						<h3>Subscribe for Our Newsletter!</h3>
						<p>Subscribe to our newsletter email to get notification about fresh news, latest promos, giveaways and free stuff from Skew. Stay always up-to-date!</p>
						<div class="fr">
						<div style="display: inline-block;">
							<input class="col-md-6 fEmail" name='Email' placeholder='Enter Your Email'/>
							<a href="#" class="subS">Subscribe!</a>
						</div>
						</div>
					</div>
					<div class="soc col-md-12">
						<ul>
							<li class="soc1"><a href="#"></a></li>
							<li class="soc2"><a href="#"></a></li>
							<li class="soc3"><a href="#"></a></li>
							<li class="soc4"><a href="#"></a></li>
							<li class="soc5"><a href="#"></a></li>
							<li class="soc6"><a href="#"></a></li>
							<li class="soc7"><a href="#"></a></li>
							<li class="soc8"><a href="#"></a></li>
							
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="lineBlack">
			<div class="container">
				<div class="row downLine">
					<div class="col-md-12 text-right">
						<!--input  id="searchPattern" type="search" name="pattern" value="Search the Site" onblur="if(this.value=='') {this.value='Search the Site'; }" onfocus="if(this.value =='Search the Site' ) this.value='';this.style.fontStyle='normal';" style="font-style: normal;"/-->
						<input  id="searchPattern" type="search" placeholder="Search the Site"/><i class="glyphicon glyphicon-search" style="font-size: 13px; color:#a5a5a5;" id="iS"></i>
					</div>
					<div class="col-md-6 text-left copy">
						<p>Copyright &copy; 2015 ThinkTech. All Rights Reserved.</p>
					</div>
					<div class="col-md-6 text-right dm">
						<ul id="downMenu">
							<li class="active" ><a href="#home">Home</a></li>
							<li><a href="#about">About</a></li>
							<li><a href="#service">Services</a></li>
							<li><a href="#technologies">Technologies</a></li>
							<li><a href="#client">Clients</a></li>
							<li><a href="#career">Career</a></li>
							<li class="last"><a href="#contact">Contact</a></li>
							<!--li><a href="#features">Features</a></li-->
						</ul>
					</div>
				</div>
			</div>
		</div>
    </div>		
		
		
	<script src="/assets/jquery.prettyPhoto.js" type="text/javascript" charset="utf-8"></script>
	<script src="/assets/bootstrap.min.js"></script>
	<script src="/assets/jquery.slicknav.js"></script>
	<script type="text/javascript">
			$(document).ready(function(){
			$(".bhide").click(function(){
				$(".hideObj").slideDown();
				$(this).hide(); //.attr()
				return false;
			});
			$(".bhide2").click(function(){
				$(".container.hideObj2").slideDown();
				$(this).hide(); // .attr()
				return false;
			});
				
			$('.heart').mouseover(function(){
					$(this).find('i').removeClass('fa-heart-o').addClass('fa-heart');
				}).mouseout(function(){
					$(this).find('i').removeClass('fa-heart').addClass('fa-heart-o');
				});
				
				function sdf_FTS(_number,_decimal,_separator)
				{
				var decimal=(typeof(_decimal)!='undefined')?_decimal:2;
				var separator=(typeof(_separator)!='undefined')?_separator:'';
				var r=parseFloat(_number)
				var exp10=Math.pow(10,decimal);
				r=Math.round(r*exp10)/exp10;
				rr=Number(r).toFixed(decimal).toString().split('.');
				b=rr[0].replace(/(\d{1,3}(?=(\d{3})+(?:\.\d|\b)))/g,"\$1"+separator);
				r=(rr[1]?b+'.'+rr[1]:b);

				return r;
}
				
			setTimeout(function(){
					$('#counter').text('0');
					$('#counter1').text('0');
					$('#counter2').text('0');
					setInterval(function(){
						
						var curval=parseInt($('#counter').text());
						var curval1=parseInt($('#counter1').text().replace(' ',''));
						var curval2=parseInt($('#counter2').text());
						if(curval<=112){
							$('#counter').text(curval+1);
						}
						if(curval1<=56){
							$('#counter1').text(sdf_FTS((curval1+20),0,' '));
						}
						if(curval2<=642){
							$('#counter2').text(curval2+1);
						}
					}, 2);
					
				}, 500);
			});
	</script>
	<script type="text/javascript">
	jQuery(document).ready(function(){
		jQuery('#menu').slicknav();
		
	});
	</script>
	
	<script type="text/javascript">
    $(document).ready(function(){
       
        var $menu = $("#menuF");
            
        $(window).scroll(function(){
            if ( $(this).scrollTop() > 100 && $menu.hasClass("default") ){
                $menu.fadeOut('fast',function(){
                    $(this).removeClass("default")
                           .addClass("fixed transbg")
                           .fadeIn('fast');
                });
            } else if($(this).scrollTop() <= 100 && $menu.hasClass("fixed")) {
                $menu.fadeOut('fast',function(){
                    $(this).removeClass("fixed transbg")
                           .addClass("default")
                           .fadeIn('fast');
                });
            }
        });
	});
    //jQuery
	</script>
	<script>
		/*menu*/
		function calculateScroll() {
			var contentTop      =   [];
			var contentBottom   =   [];
			var winTop      =   $(window).scrollTop();
			var rangeTop    =   200;
			var rangeBottom =   500;
			$('.navmenu').find('a').each(function(){
				contentTop.push( $( $(this).attr('href') ).offset().top );
				contentBottom.push( $( $(this).attr('href') ).offset().top + $( $(this).attr('href') ).height() );
			})
			$.each( contentTop, function(i){
				if ( winTop > contentTop[i] - rangeTop && winTop < contentBottom[i] - rangeBottom ){
					$('.navmenu li')
					.removeClass('active')
					.eq(i).addClass('active');				
				}
			})
		};
		
		$(document).ready(function(){
			calculateScroll();
			$(window).scroll(function(event) {
				calculateScroll();
			});
			$('.navmenu ul li a').click(function() {  
				$('html, body').animate({scrollTop: $(this.hash).offset().top - 80}, 800);
				return false;
			});
		});		
	</script>	
	<script type="text/javascript" charset="utf-8">

		jQuery(document).ready(function(){
			jQuery(".pretty a[rel^='prettyPhoto']").prettyPhoto({animation_speed:'normal',theme:'light_square',slideshow:3000, autoplay_slideshow: true, social_tools: ''});
			
		});
	</script>
	</body>
	
</html>