

<% if blogger_signed_in? %>
  <p>Welcome <%= current_blogger.email %></p>
  <%= link_to 'Logged In [click to logout]', destroy_blogger_session_path, :method => :delete %>
<% end %>

<%= link_to "New Article", new_article_path %>
<% @articles.each do |article| %>
  <h3><%= article.title.html_safe %></h3>
  <p><%= article.body.html_safe %></p>
  <%= link_to "Edit Article", edit_article_path(article) %>
  <% if article != @articles.last %>
  <hr />
  <% end %>
<% end %>