<!DOCTYPE html>
<html>
<head>
  <link rel="icon"
        type="image/png"
        href="http://www.thethinktech.com/assets/thinkthech_fav.png">
	<%= metamagic %>
  
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
